# Môi trường chạy (development / production)
NODE_ENV="development"

# Cấu hình Cơ sở dữ liệu MySQL cho Prisma ORM
DATABASE_URL="mysql://root:password@localhost:3306/forum_qa_db"

# Khóa bí mật để sinh và xác thực JWT access token
JWT_SECRET="chuoi_bi_mat_jwt_cua_team_o_day"

# Cổng chạy Backend
PORT=3000