# Môi trường chạy (development / production)
NODE_ENV="development"
PORT=3000
# Cấu hình Cơ sở dữ liệu MySQL cho Prisma ORM
DATABASE_URL="mysql://root:password@localhost:3306/forum_qa_db"

# Khóa bí mật để sinh và xác thực JWT access token
JWT_ACCESS_SECRET="chieu_khoa_truy_cap_ngan_han_2026"
JWT_REFRESH_SECRET="chieu_khoa_lam_moi_dai_han_blue_sky"

# Cổng chạy Backend
PORT=3000