.card {
  :global(.ant-card-head-title) {
    font-size: 15px;
  }
}

.hint {
  font-size: 13px;
  margin-bottom: 4px !important;
}

.fieldLabel {
  display: block;
  margin-bottom: 6px;
  font-size: 13px;
}

.active {
  font-size: 12px;
}
